<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }
</style>

<div class="login-page" style="width: 70vw;">
    <div class="form">
        <div>
            <h2 class="title" style="color: #2c3e50;">Add Company Profile</h2>
        </div>
        <form class="login-form" action="/tourist/company_profile" method="post">
            <input type="text" name="profile" placeholder="Enter  profile details" required />
            <textarea name="work_pattern" placeholder="Short work_pattern description" id="" cols="10" rows="5"
                required></textarea>
            <input type="text" name="Projects" placeholder="Enter Projects" required />
            <button type="submit" style="background: #00c3ff;">ADD</button>
            <a href="/tourists" class="font-weight-bold" style="text-decoration: none;">Back</a>
        </form>
    </div>
</div>